* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrgC6uuIAex8Zkzv400uj4-pMKUNPQotMtRw&usqp=CAU); */
  min-width: 100%;
}

.container {
  border: 2px solid;
  padding: 10rem;
  box-shadow: 1px 10px red;
  text-align: center;
  margin-top: 5rem;
}
.text {
    border: 2px solid red;
    transform: scaleX(180deg);
  padding-right: 3rem;
  padding:0.5rem 1rem
  
  
}
h1 {
  color: white;
  font-size: 5rem;
  transition: color 5sn;
}
h1:hover {
  color: aqua;
  cursor: pointer;
}
.btn {
  padding: 1rem 1rem;
  border-radius: 10px;
  background-color: chartreuse;
  cursor: pointer;
  color: red;
}
#span{
    font-size: 1.2rem;
    color:blue;
    font-weight:bold;
}
